.gen-txt {
    font-family: 'Open Sans', sans-serif;
}

.gen-txt-center {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.gen-txt-center-imp {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.gen-txt-imp {
    font-family: 'Lato', sans-serif;
}

.gen-container {
   margin-bottom: 14%
}

.gen-map-container {
    height: 92% !important;
}

.gen-button {
    font-family: 'Lato', sans-serif;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    margin: 5px;
    padding: 5px 10px;
}

.gen-button:hover {
    background-color: white;
    color: black;
}

.gen-flex-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gen-flex-column-items {
    flex: 1;
    align-self: center;
    text-align: center;
}

.gen-flex-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gen-flex-row-item {
    margin: 5px;
    align-self: center;
    text-align: center;
}