.gen-button {
    font-family: 'Lato', sans-serif;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 3px;
    border-color: transparent;
    margin: 5px;
}

.gen-button:hover {
    background-color: white;
    color: black;
}