#map {
    width:100%;
    height:100%;
    margin:0;
    position: absolute;
    z-index: 5;
}
#msg{
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 5px);
    background-color: rgba(40,40,40,.8);
    padding: 10px;
    color: #eee;
    width: 250px;
    text-align: center;
}
.ol-control button{
    background-color: rgba(40, 40, 40, 0.85) !important;
}
.ol-control button:hover{
    background-color: rgba(40, 40, 40, 1) !important;
}
.map-buttons-container {
    position: absolute;
    z-index: 20;
    left: 2%;
    bottom: 10%;
}