.profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    "profile profile"
    "fname userfname"
    "lname userlname"
    "email useremail"
    "phonenr userphonenr"
    "editbtn editbtn";
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;
}

.profile-item {
    padding: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding: 5px;

}
.profile-item-profile {
    padding: 3% 10%;
    grid-area: profile;
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

.profile-item-a {
    grid-area: fname;
}
.profile-item-b {
    grid-area: userfname;
}
.profile-item-c {
    grid-area: lname;
}
.profile-item-d {
    grid-area: userlname;
}
.profile-item-e {
    grid-area: email;
}
.profile-item-f {
    grid-area: useremail;
}
.profile-item-g {
    grid-area: phonenr;
}
.profile-item-h {
    grid-area: userphonenr;
}
.profile-item-btn {
    grid-area: editbtn;
    align-self: center;
    justify-self: center;
}