.profile-container {
    display: flex;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
}

.profile-item {
    padding: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding: 5px;
    flex: 1;
    align-self: center;

}
.profile-item-profile {
    padding: 3% 10%;
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

.edit-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "edit edit"
    "fname userfname"
    "lname userlname"
    "email useremail"
    "phonenr userphonenr"
    "submitbtn submitbtn";
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;
}

.edit-item {
    padding: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding: 5px;

}
.edit-item-title {
    padding: 3% 10%;
    grid-area: edit;
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

.edit-item-a {
    grid-area: fname;
}
.edit-item-b {
    grid-area: userfname;
}
.edit-item-c {
    grid-area: lname;
}
.edit-item-d {
    grid-area: userlname;
}
.edit-item-e {
    grid-area: email;
}
.edit-item-f {
    grid-area: useremail;
}
.edit-item-g {
    grid-area: phonenr;
}
.edit-item-h {
    grid-area: userphonenr;
}
.edit-item-btn {
    grid-area: submitbtn;
    align-self: center;
    justify-self: center;
}