.details-driver-container {
    display: grid;
    padding: 10px 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "dinfo dinfo"
    "fname userfname"
    "lname userlname"
    "phonenr userphonenr"
    "form form";
    background-color: lightgrey;
    border-radius: 5px;
}

.details-item {
    padding: 5% 8%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
}

.details-item-dinfo {
    padding: 3% 8%;
    grid-area: dinfo;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.details-item-a {
    grid-area: fname;
}
.details-item-b {
    grid-area: userfname;
}
.details-item-c {
    grid-area: lname;
}
.details-item-d {
    grid-area: userlname;
}

.details-item-g {
    grid-area: phonenr;
}
.details-item-h {
    grid-area: userphonenr;
}

.details-item-p {
    grid-area: pinfo;
}
.details-item-pi {
    grid-area: pinfoinput;
}