
div.trip-container {
    background-color: rgb(233, 233, 233);
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 10px 30px rgba(136, 136, 136, 0.356);
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;

}

/*.trip-list-container {*/
    /*padding: 0 40px 10px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*margin-bottom: 10px;*/
    /*flex: center;*/
    /*justify-content: center;*/
/*}*/
.trip-list-container{
    position: relative;
 
}

th.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
}


.trip-description {
    font-size: 13px;
    font-weight: 800;
    padding: 0 40px 10px;  
    color: black;
    letter-spacing: 0.5px;
    border: none;
}

td.trip-text {
    font-size: 13px;
    font-weight: 800;
    padding: 0 40px 10px; 
    color: black; 
    letter-spacing: 0.5px;
    border: none;
}

.trip-new-button {
        align-self: flex-end;
        overflow: hidden;
        position: fixed;
        bottom: 50px;
        left: 3px;
}